.account{
.account-content-main{
    @include max-mobile {
        padding: 0px;
    }
}
    .account-content-aside{
        height: fit-content;
        padding: 0px;
        padding: rem(24);
        background-color: $checkout-box-bg;
        border-radius: rem(3);
        border: none;

        .account-aside{
            border: none !important;
        }
        .account-aside-header{
            font-size: rem(18);
        }
        .account-aside-item {
            background-color: $checkout-box-bg;
        }
        .account-aside-btn{
            background-color: transparent;
            box-shadow: none;
            background-image: none;
        }
    }


    .account-overview{
        .card-body{
            p{
                margin-bottom:0px;
            }
        }

        .account-overview-card{
            margin-bottom: rem(24);

            @include max-mobile {
                margin-bottom: rem(32);
            }
        }

        .account-overview-card {
            margin-bottom: rem(40);
        }
        .card-title{
            margin-bottom: rem(18);
        }
    }

    .account-welcome{
        margin-bottom: rem(28);
        @include max-mobile {
            margin-bottom: rem(40);
        }
        h1{
            margin-bottom: rem(8);
            @include max-mobile {
                margin-bottom: rem(8);
            }
        }
    }
}