.header-main {
  background-color: $header-background-color;
  .header-search {
    .input-group {
      button,
      input {
        border: none;
        background: $input-gray-color;
      }
      input {
        box-shadow: none;
      }
    }

    @include max-mini-tablet {
      margin-top: rem(5);
    }
  }
}
.nav-main {
  background-color: $header-navigation-background-color;
}
.header-minimal {
  background-color: $header-background-color;
  border-bottom: 1px solid $primary-color;
  .header-minimal-back-to-shop {
    width: auto;
    padding: 0px;
  }
  .header-minimal-back-to-shop-button{
    background-image: none;
    background-color: $primary-color;
    color: $white-color;
    box-shadow: none;
    border-color: $primary-color;

    &:hover{
      background-image: none;
      background-color: $white-color;
      color: $black-color;
    }

    @include max-mobile {
      margin-right: rem(24);
    }
  }
  .header-row{
    padding: rem(24) 0px;
  }
}
