/*------------------*
# Variables
*------------------*/

/*
* Paths
*/
$theme-assets-path: '/bundles';
$theme-font-path: '/bundles';
$theme-fallback-fonts: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

/*
 * Base colors
*/

// Theme colours (default in shopware)
$primary-color: $sw-color-brand-primary;
$secondary-color: $sw-color-brand-secondary;
$border-color: $sw-border-color;
$background-color: $sw-background-color;

// Ecommerce (default in shopware)
$price-color:  $sw-color-price;
$buy-button-background-color: $sw-color-buy-button;
$buy-button-color: $sw-color-buy-button-text;

// Typography (default in shopware)
$font-base: $sw-font-family-base, $theme-fallback-fonts;
$font-headline: $sw-font-family-headline, $theme-fallback-fonts;
$text-color: $sw-text-color;
$headline-color: $sw-headline-color;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//Status Colors (default in shopware)
$success-color: $sw-color-success;
$info-color: $sw-color-info;
$warning-color: $sw-color-warning;
$danger-color: $sw-color-danger;

// Additional colors

$white-color: #ffffff;
$black-color: #000000;
$dark-grey-color: #707072;
$form-background-color: #f5f5f8;
$product-image-background-color: #f6f6f6;
$sidebar-category-navigation-link-color: #4a4a4a;
$input-gray-color:#f8f8fa;
$box-border:#dddddd;

$header-background-color:$sw-header-background-color;
$header-navigation-background-color: $sw-navbar-background-color;
$footer-background-color: $sw-footer-background-color;
$footer-bottom-background-color: $sw-footer-bottom-background-color;
